<h1>Usuários</h1>
<ul>
    <li>1 - João Francisco</li>
</ul>

<!-- <html>
    <body>
        <table border="1px">
            <tr>
                <td>id</td>
                <td>nome</td>
            </tr>
            <tr>
                <td>1</td>
                <td>João Francisco</td>
            </tr>
        </table>
    </body>
</html> -->
